extends layout

block content
  h1= title
  - let items = results
  button.btn( class="btn-light ml-1", onclick= `pressme(\"/icecream/create\")` ) Create a new Item
  table(class="table table-stripped table-bordered")
        thead(style="background-color:pink;color:white") 
            tr
                td Item ID
                td Item name 
                td Item flavor
                td Item price 
                td Inspect 
                td Update 
                td Delete
            tbody
            
            each item in items
                tr
                    td #{item._id}
                    td #{item.name}
                    td #{item.flavor}
                    td #{item.price}
                    td 
                      button.btn( class="btn-info ", onclick= `click(\"/icecream/update/?id=${item._id}\")` ) Inspect
                    td 
                      button.btn( class="btn-info", onclick= `click(\"/icecream/detail/?id=${item._id}\")` ) Update
                    td 
                      button.btn( class="btn-info", onclick= `click(\"/icecream/delete/?id=${item._id}\")` ) Delete 
                script. 
                  function pressme(path){ 
                    window.location.href=path 
                  } 




  - let icecreams=[{name:"kulfi",flavor:"badam",price:10},{name:"chocobar",flavor:"vanilla",price:20},{name:"cone",flavor:"chocolate",price:50}]
  div(class="container-fluid")
  div(class="row")
            
     
    each icecream,index in icecreams
                table(style='width:100%')
                    tr
                        div(class="col-sm-2" onclick=`buy(${index})`) #{icecream.name}
                        div(class="col-sm-2" onclick=`buy(${index})`) #{icecream.flavor}
                        div(class="col-sm-2" onclick=`buy(${index})`) $#{icecream.price}   
     
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
    
    
