extends layout

block content
 h1= title

  if (toShow==null)
   h2 No Instance to detail
  else
   - let icecreamid = toShow._id 
   - let name = toShow.name 
   - let flavor = toShow.flavor 
   - let price = toShow.price
    div 
    div.row 
      div(class='icecreamAttr mr-3') icecream ID is: 
      div #{icecreamid} 
    div.row 
      div(class='icecreamAttr mr-3') icecream Name is: 
      div #{name} 
    div.row 
      div(class='icecreamAttr mr-3') icecream flavor is: 
      div #{flavor} 
    div.row 
      div(class='icecreamAttr mr-3') icecream Price is: 
      div #{price} 